DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ims
JWT_SECRET=mysecretkey

# For production, you can use the following database configuration:
# DB_HOST     = junction.proxy.rlwy.net
# DB_USER     = root
# DB_PASSWORD = cxfSDGTKOffPRPSREKHUXjkVHPoZOAlx
# DB_NAME     = railway